__pycache__/
*.pyc
.venv/
.env
.streamlit/
.ipynb_checkpoints/
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# Nunca subas credenciales
credentialess/
credendiales.json
